{% extends 'base.html' %}

{% block script %}
    <script>
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

        $(document).ready(function() {
            var query = getParameterByName('q')
            var tweetList = [];

            function parseTweets() {
                if(tweetList==0) {
                    $('#tweet-container').text('Tweet not available')
                }else {
                    $.each(tweetList, function(key, value) {
                        var tweetKey = key;
                        var tweetContent = value.content;
                        var tweetUser = value.user;

                        $('#tweet-container').append(
                            "<div class='media'>"+
                                "<div class='media-body'>"+
                                    tweetContent + "<br/> via " + tweetUser.username +
                                   " | "+ "<a href='#'>aView</a>"+
                                "</div>"+
                            "</div>"+"<hr/>"
                            
                        )

                })
                }
                
            }


            console.log(query)
            $.ajax({
                url: '/api/tweet/',
                data:{
                    'q':query
                },
                method: 'GET',
                success: function(data) {
                    tweetList = data;
                    parseTweets();
                    
                    
                },
                else: function(data) {
                    console.log(data)
                    console.log('error')
                }
            })
        })
    </script>
{% endblock %}

{% block content %}


    

<div class='row'>

    <div class='col-sm-3 col-xs-12'>
        <h1>{{ request.user }}</h1>
    </div>

    <div class='col-sm-9'>
        {% if not request.GET.q %}
            <div class=''>
                {% include "tweets/form.html" with form=create_form action_url=create_url btn_title='Tweet' %}
            </div>
            <br/>
        {% endif %}

        <div id='tweet-container'></div>
        
        
</div>
</div>
{% endblock %}